.footer-container{
    width: 100%;

    background-color: var(--navbar-color); 
    box-sizing: border-box;
    padding: 50px 150px;

    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;

    transition: all 0.2s ease;
}

.footer-interest-and-about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-interest-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--white);
}


.footer-about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}


.second-footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    opacity: 0.75;
}
.second-footer-container p{
    color: white;
    font-size: 14px;
    font-style: italic;
}

.daily-and-date-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-copy-container{
    width: 100%;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copy-container > p{
    color: white;
    font-size: 12px;
    font-style: italic;
}


.blue-color {
    background-color: var(--gov-accesibility-card);
    padding: 25px 100px;
    box-sizing: border-box;
    gap: 20px;  
    opacity: 1;
}
.blue-color .footer-copy-container p {
    width: 100%;
    text-align: center;
}




@media(max-width: 800px){
    .footer-container{
        padding: 50px;
    }
}
@media(max-width: 600px){
    .blue-color {
        padding: 25px 50px;
    }
    .footer-copy-container{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .daily-and-date-container {
        flex-direction: column;
        justify-content: center;

        gap: 20px;
    }
}