.results-card-container {
    width: 100%;
    height: 170px;
    min-height: 170px;
    box-sizing: border-box;
    border-right: 5px solid var(--white);

    color: var(--black);

    padding: 10px 15px;

    display: grid;
    grid-template-columns: auto 1fr 2.5fr 0.75fr;
    align-items: center;
    gap: 10px;

    background-color: var(--white);
    border-radius: 10px;

    transition: all .25s ease;
}
.results-card-container:hover {
    border-right: 5px solid var(--municipios-and-result-border-clicked);
    background-color: var(--results-card-hover);
}

.results-card-container a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}
.results-card-container a div {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: var(--results-image-hover);
}
.results-card-container a div svg {
    color: var(--white);
    width: 22px;
    height: 22px;

    transition: transform 0.2s ease;
}
.results-card-container a:hover div svg {
    transform: scale(1.05);
}
.results-card-container img {
    object-fit: contain;
    width: 55px;
    margin: 2px;
}

.results-card-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.results-card-main-info p:nth-child(1) {
    font-weight: bold;
}
.results-card-main-info p:nth-child(2),
.results-card-main-info p:nth-child(3) {
    font-size: 13px;
    font-style: italic;
    color: var(--result-text-card);
}




.results-card-secondary-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}
.results-card-secondary-info p:nth-child(1){
    font-weight: bold;
    max-height: 40px;
    overflow-y: scroll;
}
.results-card-secondary-description {   
    max-height: 100px;
    text-align: justify;
    font-size: 13px;
    overflow-y: scroll;
    padding-right: 5px;
    color: var(--result-text-card);
    font-style: italic;
}
.results-card-secondary-info p::-webkit-scrollbar {
    width: 10px;
}
.results-card-secondary-info p::-webkit-scrollbar-track {
    background: transparent;
}
.results-card-secondary-info p::-webkit-scrollbar-thumb {
    background: #DDDDDD;
    border-radius: 5px;
}
.results-card-secondary-info p::-webkit-scrollbar-thumb:hover {
    background: #C5C5C5;
}




.results-card-complementary-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.results-card-complementary-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.results-card-complementary-info div .mini-title {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: var(--main-title-color);
}
.results-card-complementary-info div p:nth-child(2) {
    font-size: 14px;
    color: var(--result-text-card);
    text-align: center;
}



@media (max-width: 650px) {
    .results-card-container {
        grid-template-columns: 1fr 2.5fr;
    }


    .results-card-main-info p:nth-child(1) {
        font-size: 14px;
    }
    .results-card-main-info p:nth-child(2),
    .results-card-main-info p:nth-child(3) {
        font-size: 12px;
    }


    .results-card-secondary-info p:nth-child(1){
        font-size: 14px;
    }
    .results-card-secondary-description {   
        font-size: 12px;
        max-height: 60px;
    }


    .results-card-complementary-info {
        grid-column: span 2;
        flex-direction: row;
        justify-content: space-around;
    }
    .results-card-complementary-info div .mini-title {
        font-size: 11px;
    }
    .results-card-complementary-info div p:nth-child(2) {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .results-card-container {
        grid-template-columns: 1.5fr 0.5fr ;
        height: auto;
    }

    .results-card-secondary-info {
        grid-column: span 2;
    }

    .results-card-secondary-description {
        max-height: 100px;
    }
}

@media (max-width: 450px) {
    .results-card-main-info p:nth-child(1) {
        font-size: 12px;
    }
    .results-card-main-info p:nth-child(2),
    .results-card-main-info p:nth-child(3) {
        font-size: 10px;
    }


    .results-card-secondary-info p:nth-child(1){
        font-size: 11px;
    }
    .results-card-secondary-description {
        font-size: 11px;
    }


    .results-card-complementary-info div .mini-title {
        font-size: 9px;
    }
    .results-card-complementary-info div p:nth-child(2) {
        font-size: 9px;
    }
}