.map-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

.san-andres-container {
    position: absolute;
    width: 150px;
    height: 175px;

    top: 80px;
    left: 100px;


    display: flex;
    flex-direction: row;
}

.map-container svg g path{
    transition: all 0.2s ease;
    outline: none;
    cursor: pointer;
}
.map-container svg g path:hover{
    /* transform: scale(1.005); */
    fill: var(--white-05);
}

@media (max-width: 800px) {
    .san-andres-container {
        top: 100px;
        left: 50px;
    }
}