.results-card-container a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}
.results-card-container a div {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: var(--results-image-hover);
}
.results-card-container a div svg {
    color: var(--white);
    width: 22px;
    height: 22px;

    transition: transform 0.15s ease;
}
.results-card-container a:hover div svg {
    transform: scale(1.1);
}
.results-card-container img {
    object-fit: contain;
    width: 55px;
    margin: 2px;
}
.results-card-container a p {
    color: var(--result-subtitle-card);
    padding: 10px 10px;
    text-align: center;

    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 650px) {
    .results-card-container a p {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .results-card-container a p {
        font-size: 10px;
    }
}