.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 13px;
    text-align: center;
}

.pagination-buttons-container {
    width: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    padding: 0 15px;
    box-sizing: border-box;
}
.pagination-buttons-container p{
    color: var(--white);
    font-size: 15px;
    margin-right: 10px;

    display: flex;
    align-items: center;
}
.pagination-buttons-container p input{
    width: 40px;
    max-width: 100px;

    text-align: center;
    padding: 5px 0px;
    margin: 0 5px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--navbar-color);

    color: var(--white);
    font-weight: bold;
    outline: none;  

    transition: all 0.2s ease;
}
.pagination-buttons-container p input:focus{
    background-color: var(--white-025);
    border: 1px solid var(--navbar-color);
}
.pagination-buttons-container p input:hover{
    background-color: var(--white-025);
}
.pagination-buttons-container p input::placeholder{
    color: var(--white);
    font-weight: bold;
}
.pagination-buttons-container button {
    padding: 5px;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white-025);
    cursor: pointer;

    transition: all 0.2s ease;
}
.pagination-buttons-container button:hover {
    background-color: var(--white-05);
}
.pagination-buttons-container button svg{
    width: 20px;
    height: 20px;
    color: var(--white);
}