.municipality-grid-container {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    max-height: 250px;

    overflow-y: scroll;
}

/* width */
.municipality-grid-container::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.municipality-grid-container::-webkit-scrollbar-track {
    background: transparent;
}
  
  /* Handle */
.municipality-grid-container::-webkit-scrollbar-thumb {
    background: #EDEDED;
    border-radius: 5px;
}
  
  /* Handle on hover */
.municipality-grid-container::-webkit-scrollbar-thumb:hover {
    background: #DDDDDD;
}