.filters-and-map-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.filters-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-an-results-container {
    display: grid;
    grid-template-rows: 3fr 2fr;
    place-content: center;
    gap: 15px;
}

@media (max-width: 800px) {
    .filters-and-map-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}